* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: auto;
}

.header {
  position: relative;
  z-index: 1;
  height: 46px;
  width: 100%;
  background-color: rgba(24, 24, 24, 1);
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
}

.header__burger {
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 16px;
  gap: 3.9px;
  position: absolute;
  top: 17px;
  left: 15px;
}

.burger__bar {
  background-color: rgb(105, 105, 105);
  width: 100%;
  height: 2.67px;
}

.header__burger:hover {
  cursor: pointer;
}

.container {
  position: relative;
  height: calc(100% - 46px);
  background-image: url("../images/rain_bk.png");
  background-size: cover;
}

.info__text1 {
  position: relative;
  top: calc(73px - 46px);
  color: rgba(255, 255, 255, 1);
  font-family: PT Serif, serif;
  text-align: center;
  height: 52px;
  line-height: 23.85px;
  letter-spacing: 2.5px;
}

.info__text2,
.info__text3 {
  color: rgba(255, 199, 0, 1);
  text-align: center;
  font-family: Yeseva One, serif;
  font-size: 30px;
  margin: auto;
}

.info__text2 {
  position: relative;
  top: calc(113px - 98px);
  width: 131px;
}

.info__text3 {
  position: relative;
  top: calc(147px - 123px);
  width: 252px;
}

.container__button-start {
  position: relative;
  top: calc(370px - 133px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 189px;
  height: 41px;
  border-radius: 20px;
  margin: auto;
  background-color: rgba(255, 199, 0, 1);
  color: rgba(13, 12, 17, 1);
  font-family: Merriweather, serif;
  font-size: 14px;
  line-height: 17.6px;
}

.info__text4 {
  position: relative;
  top: calc(433px - 174px);
  width: 286px;
  height: 81px;
  font-family: PT Serif, serif;
  margin: auto;
  text-align: center;
}

.text4__span1 {
  color: rgba(255, 199, 0, 1);
}

.text4__span2 {
  color: rgba(255, 255, 255, 1);
}

.details__button {
  width: 16px;
  height: 16px;
  position: relative;
  top: calc(525px - 244px);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.info__text5 {
  width: 68px;
  height: 13px;
  margin: auto;
  color: rgba(255, 255, 255, 1);
  position: relative;
  top: calc(544px - 260px);
}
