* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: auto;
}

.sidebar {
  overflow: auto;
  transform: translateX(-100%);
  position: absolute;
  z-index: 2;
  width: 25%;
  height: 100%;
  background-color: rgba(24, 24, 24, 1);
  transition: transform 0.3s;
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar.open {
  transform: translateX(0);
}

.menu__cross {
  position: absolute;
  width: 28px;
  height: 28px;
  background-image: url("../images/cross.png");
  background-size: cover;
  top: 18px;
  left: 89%;
}

.sidebar_menu {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 110px 0 0 23px;
  font-family: Roboto, sans-serif;
}

.menu__item-home,
.menu__item-info {
  color: rgba(255, 255, 255, 1);
}

.menu__item-start-test {
  color: rgba(244, 206, 12, 1);
}

.header {
  position: relative;
  z-index: 1;
  height: 46px;
  width: 100%;
  background-color: rgba(24, 24, 24, 1);
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
}

.header__burger {
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 16px;
  gap: 3.9px;
  position: absolute;
  top: 17px;
  left: 15px;
}

.header__burger:hover,
.menu__cross:hover {
  cursor: pointer;
}

.burger__bar {
  background-color: rgb(105, 105, 105);
  width: 100%;
  height: 2.67px;
}

.header__burger:hover {
  cursor: pointer;
}

.main {
  background-image: url("../images/rain_bk.png");
  background-size: cover;
  min-height: calc(100vh - 46px);
  padding-bottom: 20px;
}

.main__subtitle {
  color: rgb(255, 255, 255);
  padding-top: 27px;
  font-size: 18px;
  font-family: PT Serif, serif;
  text-align: center;
}

.main__title {
  color: rgba(255, 199, 0, 1);
  padding-top: 22px;
  text-align: center;
  font-size: 30px;
  font-family: Yeseva One, serif;
}

.main__button {
  color: rgba(13, 12, 17, 1);
  background-color: rgba(255, 199, 0, 1);
  margin: 217px auto 0;
  width: 189px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-family: Merriweather, serif;
}

.main__additional-info {
  padding-top: 21px;
  text-align: center;
}

.additional-info__span1 {
  color: rgba(255, 199, 0, 1);
}

.additional-info__span2 {
  color: rgba(255, 255, 255, 1);
}

.main__arrow {
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 16px;
  width: 100%;
  margin-top: 20px;
}

.main__arrow:hover {
  cursor: pointer;
}

.main__details {
  color: rgba(255, 255, 255, 1);
  padding-top: 3px;
  text-align: center;
  font-family: PT Serif, serif;
  font-size: 8px;
}

.container__details {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.container__details.open {
  transform: translateY(0);
}

.details__benefits {
  overflow-y: auto;
  height: 100%;
  background-image: radial-gradient(
      rgba(41, 80, 194, 1),
      rgba(38, 91, 199, 0.5),
      rgba(39, 98, 187, 0)
    ),
    url("../images/bg_blue.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Yeseva One, serif;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  padding-top: 82px;
}

.benefits__info {
  width: 258px;
  letter-spacing: 1px;
  margin: auto;
  line-height: 23px;
  text-align: center;
}

.benefits__quote-1 {
  position: absolute;
  top: 50px;
  margin-left: -12px;
  background-image: url("../images/quotes_1.png");
  background-size: cover;
  width: 23.25px;
  height: 22.45px;
}

.benefits__quote-2 {
  background-image: url("../images/quotes_2.png");
  background-size: cover;
  width: 23.25px;
  height: 22.45px;
  margin-left: 240px;
  margin-bottom: 60px;
}

.details__recommendations {
  overflow: auto;
  background-color: rgb(243, 243, 242);
  background-image: url("../images/brain.png");
  background-repeat: no-repeat;
  background-size: 232px 180px;
  background-position: center 79%;
}

.recommendations__info {
  width: 93%;
  margin: auto;
  font-family: PT Serif, serif;
  line-height: 24px;
  letter-spacing: 1px;
  padding-top: 40px;
  color: rgba(39, 39, 39, 1);
}

@media screen and (min-width: 400px) {
  .recommendations__info,
  .last-page__info,
  .info-block__text {
    text-align: center;
  }

  .last-page__info-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.recommendations__button {
  color: rgba(13, 12, 17, 1);
  background-color: rgba(255, 199, 0, 1);
  margin: 200px auto 0;
  width: 189px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-family: Merriweather, serif;
  margin-bottom: 40px;
}

.details__last-page {
  overflow: auto;
  height: 533px;
  background-image: url("../images/rain_bk2.png");
  background-size: cover;
  color: rgba(255, 255, 255, 1);
}

.last-page__info {
  margin: 56px 0 0 11px;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 15px;
}

.last-page__info-1,
.last-page__info-3 {
  color: rgba(255, 199, 0, 1);
}

.last-page__info-3,
.last-page__info-2,
.last-page__info-1 {
  font-family: Merriweather, serif;
}

.last-page__info-block {
  height: 216px;
  margin: 22px 9px 0;
  background-color: rgba(243, 243, 242, 0.8);
  border-radius: 20px;
}

.info-block__text {
  color: rgba(24, 24, 24, 1);
  width: 277px;
  line-height: 23px;
  padding: 29px 0 0 14px;
  font-size: 21px;
}

@media screen and (min-width: 400px) {
  .info-block__text {
    padding: 0;
  }
}

.info-block__span {
  font-family: Merriweather, serif;
  font-size: 18px;
}
