* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.sidebar {
  overflow: auto;
  transform: translateX(-100%);
  position: absolute;
  z-index: 2;
  width: 25%;
  height: 100%;
  background-color: rgba(24, 24, 24, 1);
  transition: transform 0.3s;
}

.sidebar.open {
  transform: translateX(0);
}

a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
  }
}

.menu__cross {
  position: absolute;
  width: 28px;
  height: 28px;
  background-image: url("../images/cross.png");
  background-size: cover;
  top: 18px;
  right: 3%;
}

.sidebar_menu {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin: 110px 0 0 23px;
  font-family: Roboto, sans-serif;
}

.menu__item-home,
.menu__item-info {
  color: rgba(255, 255, 255, 1);
}

.menu__item-start-test {
  color: rgba(244, 206, 12, 1);
}

.header {
  position: relative;
  z-index: 1;
  height: 46px;
  width: 100%;
  background-color: rgba(24, 24, 24, 1);
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
}

.header__burger {
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 16px;
  gap: 3.9px;
  position: absolute;
  top: 17px;
  left: 15px;
}

.header__burger:hover,
.menu__cross:hover {
  cursor: pointer;
}

.burger__bar {
  background-color: rgb(105, 105, 105);
  width: 100%;
  height: 2.67px;
}

.header__burger:hover {
  cursor: pointer;
}

.main {
  background-image: url("../images/rain_bk.png");
  background-size: cover;
  min-height: calc(100vh - 46px);
  padding-bottom: 20px;
}

.main img {
  display: none;
}

@media screen and (min-width: 400px) {
  .main {
    background-image: url("../images/rain_bk2.png");
  }

  .main img {
    display: block;
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-55%, -55%);
    width: 200px;
    height: 200px;
  }
}

.main__subtitle {
  color: rgb(255, 255, 255);
  padding-top: 27px;
  font-size: 18px;
  font-family: PT Serif, serif;
  text-align: center;
}

.main__title {
  color: rgba(255, 199, 0, 1);
  padding-top: 22px;
  text-align: center;
  font-size: 30px;
  font-family: Yeseva One, serif;
}

.main__button {
  display: block;
  outline: none;
  border: none;
  color: rgba(13, 12, 17, 1);
  background-color: rgba(255, 199, 0, 1);
  margin: 217px auto 0;
  width: 189px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-family: Merriweather, serif;
}

@media screen and (min-width: 400px) {
  .main__button {
    margin: 255px auto 0;
  }
}

.main__additional-info {
  padding-top: 21px;
  text-align: center;
}

.additional-info__span1 {
  color: rgba(255, 199, 0, 1);
}

.additional-info__span2 {
  color: rgba(255, 255, 255, 1);
}

.main__arrow {
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 16px;
  width: 16px;
  margin: 20px auto 0;
}

.main__arrow:hover {
  cursor: pointer;
}

.main__details {
  color: rgba(255, 255, 255, 1);
  padding-top: 3px;
  text-align: center;
  font-family: PT Serif, serif;
  font-size: 8px;
}

.container__details {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.container__details.open {
  transform: translateY(0);
}

.details__benefits {
  height: 339px;
  background-image: radial-gradient(
      rgba(41, 80, 194, 1),
      rgba(38, 91, 199, 0.5),
      rgba(39, 98, 187, 0)
    ),
    url("../images/bg_blue.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Yeseva One, serif;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  padding-top: 82px;
}

.benefits__info {
  width: 258px;
  letter-spacing: 1px;
  margin: auto;
  line-height: 23px;
  text-align: center;
}

.benefits__quote-1 {
  position: absolute;
  top: 50px;
  margin-left: -12px;
  background-image: url("../images/quotes_1.png");
  background-size: cover;
  width: 23.25px;
  height: 22.45px;
}

.benefits__quote-2 {
  background-image: url("../images/quotes_2.png");
  background-size: cover;
  width: 23.25px;
  height: 22.45px;
  margin-left: 240px;
  margin-bottom: 60px;
}

.details__recommendations {
  overflow: auto;
  background-color: rgb(243, 243, 242);
  background-image: url("../images/brain.png");
  background-repeat: no-repeat;
  background-size: 232px 180px;
  background-position: center 79%;
}

.recommendations__info {
  width: 93%;
  margin: auto;
  font-family: PT Serif, serif;
  line-height: 24px;
  letter-spacing: 1px;
  padding-top: 40px;
  color: rgba(39, 39, 39, 1);
}

@media screen and (min-width: 400px) {
  .recommendations__info,
  .last-page__info,
  .info-block__text {
    text-align: center;
  }

  .last-page__info-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.recommendations__button {
  border: none;
  display: block;
  color: rgba(13, 12, 17, 1);
  background-color: rgba(255, 199, 0, 1);
  margin: 200px auto 0;
  width: 189px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-family: Merriweather, serif;
  margin-bottom: 40px;
}

.details__last-page {
  overflow: auto;
  height: 533px;
  background-image: url("../images/rain_bk2.png");
  background-size: cover;
  color: rgba(255, 255, 255, 1);
}

.last-page__info {
  margin: 20px 0 0 11px;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 15px;
}

@media screen and (max-width: 400px) {
  .last-page__info {
    margin: 56px 0 0 11px;
  }
}

.last-page__info-1,
.last-page__info-3 {
  color: rgba(255, 199, 0, 1);
}

.last-page__info-3,
.last-page__info-2,
.last-page__info-1 {
  font-family: Merriweather, serif;
}

.last-page__info-block {
  position: relative;
  z-index: 2;
  height: 216px;
  margin: 22px 9px 0;
  background-color: rgba(243, 243, 242, 0.8);
  border-radius: 20px;
}

.info-block__text {
  color: rgba(24, 24, 24, 1);
  width: 277px;
  line-height: 23px;
  padding: 29px 0 0 14px;
  font-size: 21px;
  display: block;
}

@media screen and (min-width: 400px) {
  .info-block__text {
    padding: 0;
  }
}

.info-block__span {
  font-family: Merriweather, serif;
  font-size: 18px;
}

button:hover,
a:hover {
  cursor: pointer;
}

.info-block__button {
  display: block;
  width: 200px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  margin: 32px auto;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
}

.details__last-page img {
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: 53px;
  width: 131px;
  height: 230px;
}

.details__last-page img:first-child {
  position: absolute;
  left: 0;
  z-index: 1;
  margin-top: 271px;
  width: 130px;
  height: 230px;
  transform: none;
}

.test-container {
  width: 100%;
  height: 100vh;
  background-color: rgba(13, 13, 17);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
}

.test-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.test-header__title {
  display: flex;
  align-items: center;
  z-index: 1;
  margin: -145px 0 0 48px;
}

.test-header__brain {
  width: 48px;
  height: 47px;
  margin-right: 10px;
}

.test-header__text {
  font-size: 16px;
  font-family: Yeseva One, serif;
  color: rgba(255, 199, 0, 1);
  margin-left: 10px;
}

#questionNumber {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}

.question-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.answer-button {
  background-color: rgb(47, 46, 50);
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.answer-button .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255);
  margin-right: 10px;
}

.answer-button span {
  font-size: 18px;
}

.answer-button:hover {
  background-color: rgba(255, 199, 0, 0.7);
}

.answer-button.selected {
  background-color: rgba(255, 199, 0, 1);
}

@media screen and (max-width: 600px) {
  .answer-button {
    width: 100%;
    font-size: 18px;
    padding: 15px;
  }
}

@media screen and (max-width: 400px) {
  #questionNumber {
    font-size: 20px;
  }

  .answer-button {
    width: 100%;
    padding: 18px;
    font-size: 16px;
  }
}

.next-button {
  background-color: #f4c300;
  border: none;
  padding: 15px;
  width: 200px;
  margin-top: 30px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-family: Merriweather, serif;
}

.test-header__progress {
  width: 80%;
  background-color: rgba(242, 243, 243, 1);
  height: 11px;
  margin: -50px auto 100px;
  border-radius: 10.5px;
}

.test-header__progress-bar {
  height: 100%;
  width: 0%;
  background-color: rgba(59, 222, 124, 1);
  transition: width 0.3s;
  border-radius: 10.5px;
}

.next-button:disabled {
  background-color: rgba(218, 218, 218);
  cursor: not-allowed;
}

.answer-button,
#testContainer,
#questionContent {
  color: rgba(255, 255, 255);
  font-family: PT Serif, serif;
  font-size: 18px;
}

.progress-container {
  width: 80%;
  background-color: #3e3e3e;
  height: 8px;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #f4c300;
  width: 0%;
  transition: width 0.3s;
}
